In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.2'

### Data Schema 확인

In [4]:
df = pd.read_csv('yellow_tripdata_2021-01.csv',nrows=100)

In [5]:
print(pd.io.sql.get_schema(df,name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [7]:
# datetime을 형식에 맞게 수정해주고 싶다면 어떻게 할 수 있을까?
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_droppoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

/var/folders/4z/wspxd4rd5mb9vdbl5019_rtr0000gn/T/ipykernel_51207/2163704103.py:3: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tpep_droppoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [8]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data"))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

### Postgress 데이터베이스 연결하기

In [11]:
from sqlalchemy import create_engine

In [13]:
# engine = create_engine("postgresql://username:password@localhost:{호스트에서 도커 컨테이너가 연결된 포트번호}/database")
engine = create_engine(
    "postgresql://root:root@localhost:5433/ny_taxi"
)  # pip install psycopg2-binary

In [14]:
engine.connect()

### Chunk로 잘라서 전체 데이터셋을 집어넣기
1. Schema를 먼저 넣고
2. Chunk을 iterate해서 넣기

In [16]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', chunksize=100000)

In [17]:
df_iter

In [18]:
df = next(df_iter)

In [19]:
len(df)

100000

In [20]:
# datetime 수정하기
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_droppoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

/var/folders/4z/wspxd4rd5mb9vdbl5019_rtr0000gn/T/ipykernel_51207/55829229.py:3: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tpep_droppoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [23]:
# Schema 확인
df.head(n=0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

In [25]:
# Schema 생성
df.head(n=0).to_sql(name="yellow_taxi_data",con=engine,if_exists="replace")

0

In [26]:
# 첫번째 청크 데이터 삽입
%time df.to_sql(name="yellow_taxi_data",con=engine,if_exists="append") # if exists은 테이블이 존재한 경우의 Policy

CPU times: user 3.19 s, sys: 87 ms, total: 3.27 s
Wall time: 5.55 s

1000

In [27]:
# 나머지 청크 데이터 삽입
from time import time

In [28]:
while True:
    t_start = time()

    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_droppoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name="yellow_taxi_data",con=engine, if_exists="append")
    t_end = time()

    print("inserted another chunk..., took %.3f second"%(t_end-t_start))

/var/folders/4z/wspxd4rd5mb9vdbl5019_rtr0000gn/T/ipykernel_51207/1515285324.py:6: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tpep_droppoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

inserted another chunk..., took 5.760 second

/var/folders/4z/wspxd4rd5mb9vdbl5019_rtr0000gn/T/ipykernel_51207/1515285324.py:6: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tpep_droppoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

inserted another chunk..., took 5.607 second

/var/folders/4z/wspxd4rd5mb9vdbl5019_rtr0000gn/T/ipykernel_51207/1515285324.py:6: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tpep_droppoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

inserted another chunk..., took 5.818 second

/var/folders/4z/wspxd4rd5mb9vdbl5019_rtr0000gn/T/ipykernel_51207/1515285324.py:6: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tpep_droppoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

inserted another chunk..., took 5.989 second

/var/folders/4z/wspxd4rd5mb9vdbl5019_rtr0000gn/T/ipykernel_51207/1515285324.py:6: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tpep_droppoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

inserted another chunk..., took 5.601 second

/var/folders/4z/wspxd4rd5mb9vdbl5019_rtr0000gn/T/ipykernel_51207/1515285324.py:6: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tpep_droppoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

inserted another chunk..., took 5.509 second

/var/folders/4z/wspxd4rd5mb9vdbl5019_rtr0000gn/T/ipykernel_51207/1515285324.py:6: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tpep_droppoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

inserted another chunk..., took 5.470 second

/var/folders/4z/wspxd4rd5mb9vdbl5019_rtr0000gn/T/ipykernel_51207/1515285324.py:6: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tpep_droppoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

inserted another chunk..., took 5.548 second

/var/folders/4z/wspxd4rd5mb9vdbl5019_rtr0000gn/T/ipykernel_51207/1515285324.py:6: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tpep_droppoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

inserted another chunk..., took 5.459 second

/var/folders/4z/wspxd4rd5mb9vdbl5019_rtr0000gn/T/ipykernel_51207/1515285324.py:6: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tpep_droppoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

inserted another chunk..., took 5.563 second

/var/folders/4z/wspxd4rd5mb9vdbl5019_rtr0000gn/T/ipykernel_51207/1515285324.py:6: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tpep_droppoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

inserted another chunk..., took 5.476 second

/var/folders/4z/wspxd4rd5mb9vdbl5019_rtr0000gn/T/ipykernel_51207/1515285324.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)
/var/folders/4z/wspxd4rd5mb9vdbl5019_rtr0000gn/T/ipykernel_51207/1515285324.py:6: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tpep_droppoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

inserted another chunk..., took 5.465 second

/var/folders/4z/wspxd4rd5mb9vdbl5019_rtr0000gn/T/ipykernel_51207/1515285324.py:6: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tpep_droppoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

inserted another chunk..., took 3.658 second

StopIteration: